---
import BaseHead from "../components/BaseHead.astro";
import SideBar from "../components/SideBar.astro";
import Footer from "../components/Footer.astro";
import HomePage from "../components/HomePage.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <SideBar />
    <main>
      <HomePage />
    </main>
    <Footer />
    <style>
      main {
        background-color: #f7f5ee;
      }
    </style>

    <script src="../utilities/popAnimation.ts"></script>
  </body>
</html>
