<footer class="footer">
  <div>From <button id="elysia">Elysia</button> with 💖 Because of you</div>
  <a href="https://youtu.be/_BUh64YHE30?si=sMGD6v_nlgLko7Bd" target="_blank">
    <video
      id="elysiaVid"
      class="hide"
      src="/assets/video/elysia.mp4"
      muted
      loop
      autoplay></video>
  </a>
</footer>
<script>
  const buttonElement = document.querySelector("#elysia");
  buttonElement?.addEventListener("click", () => {
    const elysiaVideoElement =
      document.querySelector<HTMLVideoElement>("#elysiaVid");
    if (elysiaVideoElement?.classList[0] === "hide") {
      elysiaVideoElement.classList.remove("hide");
      elysiaVideoElement.classList.add("show");
    } else {
      elysiaVideoElement?.classList.add("hide");
      elysiaVideoElement?.classList.remove("show");
    }
  });
</script>
<style>
  #elysia {
    color: #ec4899;
  }

  #elysia:hover {
    background-color: #ec48991a;
    border-radius: 5px;
    padding: 0 4px;
  }

  #elysiaVid {
    width: 144px;
    height: 183px;
  }
  .show {
    display: block;
  }

  .hide {
    display: none;
  }
  footer {
    padding: 2em 1em 2em 1em;
    /* background: linear-gradient(var(--gray-gradient)) no-repeat; */
    background-color: #fbfbfb;
    color: rgb(var(--gray));
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  .social-links a {
    text-decoration: none;
    color: rgb(var(--gray));
  }
  .social-links a:hover {
    color: rgb(var(--gray-dark));
  }
</style>
